%script(type="text/javascript" src="/post.js")
%form(name="edit")
  %textarea(name="data" rows="30" cols="60")<
    :preserve
      #{@raw_data}
  %br
  Commit Message:
  %input(type="text" name="commit_message" size="80")
  %br
  %input(type="hidden" name="sha" value="#{@sha}")
  %input(type="button" value="更新" onclick="return post('edit', 'commit');")
  %input(type="button" value="プレビュー" onclick="return post('edit', 'preview');")
  %input(type="checkbox" name="irc_notification")
  IRC に通知しない
