-# coding: utf-8
%form{ name: "edit", method: "POST", action: "!commit" }
  %textarea{ name: "data" } #{raw_data}
  %br
  %label<
    Commit Message:
    %br
    - if no_commit_message_error
      %strong コミットメッセージを入力してください。
    %input.text{ type: "text", name: "commit_message", value: "#{commit_message}" }
  %br
  %input{ type: "hidden", name: "oid", value: "#{oid}" }
  %input{ type: "submit", value: "更新" }
  %input{ type: "button", value: "プレビュー", onclick: "return post('edit', '!preview');" }
  - if settings.irc[:enable]
    %label<
      %input{ type: "checkbox", name: "irc_notification", value: "dont_notify", checked: is_checked }
      IRC に通知しない
