%ul
  %li<
    %a{ :href => url("/#{settings.front_page}")}Front Page
  %li<
    %a{ :href => url("/") }< All
  - if path
    %li<
      %a{ :href => url("/#{path}/edit") }< Edit
    %li<
      %a{ :href => url("/#{path}/history") }< History
    - if File.extname(path).empty?
      %li<
        %a{ :href => url("/#{path}.md") }< Raw

