!!! 5
%html{ html_attrs('ja') }
  %head
    %link{ :rel => "stylesheet", :type => "text/css", :href => url("/css/style.css") }
    %script{ :type => "text/javascript", :src => url("/js/post.js") }
    %script{ :type => "text/javascript", :src => url("/js/jquery-2.1.0.min.js") }
    %script{ :type => "text/javascript", :src => url("/js/flexie.min.js") }
    %title #{settings.wikiname}
  %body
    %nav
      %a{ :href => "/" }<
        %img{ src: url("/img/logo.png") }
      ~ nav
      %form{ :name => "search" }
        - action = url("/search")
        %input.text{ :type => "text", :name => "keyword", :onkeydown => "if(event.keyCode == 13){post('search', '#{action}');}" }
        %br
        %input{ :type => "button", :value =>"検索", :onclick => "return post('search', '#{action}');" }
    %article~ article
