@mixin border {
    border-style: solid;
    border-width: 1px;
    border-color: silver;
}

@mixin box {
    display: box;
    display: -moz-box;
    display: -webkit-box;
}

@mixin box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin box-flex {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

$margin: 7px;
$nav_width: 150px;

html {
    background-color: ghostwhite;
}

body {
    @include box;
    @include box-sizing;
    width: 100%;
    margin: 0px;
    padding: $margin;
}

nav {
    width: $nav_width;
    margin: $margin;

    img {
        width: $nav_width;
        margin: 0 0 10px 0;
    }

    ul {
        @include border;
        margin: 0px;
        padding: 10px 30px;
        margin: 0 0 14px 0;
        list-style-type: square;
        background-color: white;
    }

    form {
        @include border;
        @include box-sizing;
        width: $nav_width;
        background-color: white;
        padding: 10px;

        input.text {
            width: $nav_width - 28px;
        }
    }
}

article {
    @include border;
    @include box-flex;
    margin: $margin;
    padding: 0 30px;
    background-color: white;

    line-height: 1.5em;

    h1.title {
        font-size: xx-large;
        border-style: none none solid;
        border-width: 1px;
        padding: 0.3em 0;
        line-height: 1em;
    }

    h1 {
        font-size: x-large;
        border-style: none none solid;
        border-width: 1px;
    }

    h2 {
        font-size: large;
        border-style: none none solid;
        border-width: 1px;
    }

    h3 {
        font-size: large;
    }

    h4 {
        font-size: medium;
    }

    h5 {
        font-size: small;
    }

    h6 {
        font-size: x-small;
    }

    pre {
      @include border;
      padding: 10px;
      background-color: ghostwhite;
    }

    table {
        @include border;
        margin: 15px 0;
        border-collapse: collapse;
        tr {
            th {
                @include border;
                padding: 4px;
                background-color: lavender;
            }
            td {
                @include border;
                padding: 4px;
                background-color: ghostwhite;
            }
        }
    }

    dl {
        dt {
            font-weight: bold;
        }
    }

    strong {
        color: red;
    }

    span.revision {
        color: dimgray;
        font-style: italic;
    }

    form {
        margin: 10px 0;

        textarea {
            width: 100%;
            height: 400px;
        }

        input.text {
            width: 100%;
        }

        input {
            margin: 5px 0;
        }
    }

    code.diff_header {
        color: purple;
    }

    code.diff_addition {
        color: green;
    }

    code.diff_deletion {
        color: red;
    }
}

