git_repo_path: "/path/to/bare_repository.git"
domain: "example.com"
frontpage: "Front_Page"
wikiname: "rubwiki"
irc:
  enable: false
  server: "example.com"
  port: 6666
  nick: "nick"
  user: "nick 0 * :nick"
  pass: "password"
  channel: "#rubwiki"
